.main {
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
}

.message {
  text-align: center;
}

.warning{
  display: flex;
  flex-direction: column;

  svg{
    margin-left: 1rem;
  }

  button{
    width: auto;
  }
}
