# Frontend
REACT_APP_API_URL=http://host.docker.internal:8000
REACT_APP_SENTRY_DSN=https://examplePublicKey@o0.ingest.sentry.io/0
REACT_APP_USERNAME=stellaradmin
REACT_APP_PASSWORD=tokenfactory12345
REACT_APP_NETWORK=TESTNET

# Backend
BACKEND_ENV=development
AWS_ACCESS_KEY=example_key
AWS_SECRET_KEY=example_secret
AWS_REGION=us-east-2
DJANGO_SECRET_KEY=example_secret
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost,
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=*,
INTERNAL_IPS=localhost,
SENTRY_DSN=https://examplePublicKey@o0.ingest.sentry.io/0
AWS_CLOUDWATCH_LOG_GROUP_NAME=example_log_group
ACCESS_TOKEN_EXPIRE_MINUTES=5
REFRESH_TOKEN_EXPIRE_DAYS=1
JWT_SECRET_KEY=example_secret
TRANSACTION_TIMEOUT=1800
ACCOUNT_STARTING_BALANCE=2.01
STELLAR_TOML_VERSION=2.5.0
DEFAULT_THRESHOLD=21
DEFAULT_SIGNER_LOW_WEIGHT=1
HORIZON_PUBLIC_API_SERVER=https://horizon-testnet.stellar.org
HORIZON_TEST_API_SERVER=https://horizon-testnet.stellar.org
PUBLIC_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
TEST_NETWORK_PASSPHRASE=Test SDF Network ; September 2015