AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=

DJANGO_SECRET_KEY=fr5r80uji*^IPcd809_OUCT&D&80pi
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost,
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=
ENV=development
INTERNAL_IPS=localhost,

SENTRY_DSN=

AWS_CLOUDWATCH_LOG_GROUP_NAME=

ACCESS_TOKEN_EXPIRE_MINUTES=5
REFRESH_TOKEN_EXPIRE_DAYS=1
JWT_SECRET_KEY=

HORIZON_PUBLIC_API_SERVER=https://horizon.stellar.org
HORIZON_TEST_API_SERVER=https://horizon-testnet.stellar.org
PUBLIC_NETWORK_PASSPHRASE=Public Global Stellar Network ; September 2015
TEST_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
TRANSACTION_TIMEOUT=1800
ACCOUNT_STARTING_BALANCE="2.01"
STELLAR_TOML_VERSION="2.5.0"
DEFAULT_THRESHOLD=21
DEFAULT_SIGNER_LOW_WEIGHT=1


# Credit Agricole Demo
EUR_CODE=
EUR_ISSUER=
USD_CODE=
USD_ISSUER=
MAIN_WALLET_PK=
MAIN_WALLET_SK=
PAYEES_LIST=