.button {
  background: #ffffff;
  justify-content: space-between;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 1rem;
  max-width: var(--page-width);
}

.primary {
  height: 2.5rem;
  border: 1px solid #ffffff;
  border-radius: 0.35rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #8e44ad;
  font-size: 14px;

  svg {
    fill: #ffffff;
    stroke: #ffffff;
  }
}

.secondary {
  height: 2.5rem;
  border: 1px solid #eaebef;
  border-radius: 0.35rem;
  font-weight: 500;
  font-size: 14px;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-grayish);
  margin-left: 1rem;
}

.row {
  display: flex;
  gap: 1rem;
}