.main {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;

  p {
    text-align: center;
    line-height: 24px;
    font-size: 15px;
    margin-bottom: 1rem;
    word-wrap: normal;
  }

  a {
    color: var(--pal-text-primary);
    word-break: break-all !important;
  }
}

.content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logo {
  align-items: center;
  justify-content: center;
  display: flex;
}
