.main {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;

  p {
    text-align: center;
    line-height: 24px;
    font-size: 15px;
    margin-bottom: 1rem;
    word-wrap: normal;
  }

  a {
    color: var(--pal-text-primary);
    word-break: break-all !important;
  }

  table {
    table-layout: fixed;

    td {
      text-align: center;
      vertical-align: text-top;
      align-items: center;
    }
  }

  .getStarted {
    margin: 2.5rem 0 2rem;

    button {
      width: 300px;
      height: 60px;
    }
  }
}

.content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  .containerStep {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 1rem;

    .step {
      background-color: #5543e6;
      width: 40px;
      height: 40px;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0.75rem;
      font-weight: 700;
      font-size: 16px;
    }
  }
}

.logo {
  align-items: center;
  justify-content: center;
  display: flex;
}
