.readOnly {
  padding: 0 8px !important;
  margin-left: 10px;
  font-size: 10px;
  font-weight: bold;
  background-color: var(--pal-info-background);
  color: var(--pal-info);
  line-height: 25px;
  height: 25px;
  border-radius: 5px;
}
