.content {
  p {
    font-size: 13px !important;
  }

  h6 {
    margin-bottom: 20px !important;
  }
}

.tdContent {
  white-space: nowrap !important;
}

.colCode {
  display: inline;
}

table {
  width: 100%;
  table-layout: auto;
  font-size: 14px;
  border-collapse: collapse !important; 
}

.tdRight {
  text-align: right;
  padding-right: 1rem;
}

.tdSymbol {
  padding-right: 1rem;
}

.tableHeader {
  font-weight: bold;
  padding: 10px !important;
  border-bottom: 1px solid var(--pal-border-primary) !important;
  height: 40px;
  font-size: 13px;
}

.trContent {
  border-bottom: 1px solid var(--pal-border-primary) !important;
  line-height: 60px;
  font-size: 13px;
  cursor: pointer;
}

.tdIssuer{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.empty {
  justify-content: center;

  p {
    text-align: center;
    margin-top: 0 !important;
    font-size: 14px;
  }

  svg {
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
}
