.primary {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 2rem;
  background-color: var(--pal-brand-primary);
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--pal-background-secondary);
  box-shadow: 0 0.5rem 1rem -0.5rem rgba(var(--pal-shadow-rbg), 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  cursor: pointer;
}

.secondary {
  background-color: var(--pal-background-primary);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  cursor: pointer;
}

.fixedRight {
  right: 0;
  background-color: var(--pal-background-primary);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  cursor: pointer;
  margin-left: auto;
  margin-right: 0;
}
