.accordion {
  margin-top: 20px;
}

.accordionItem {
  width: 100%;
  background-color: var(--pal-background-tertiary);
  border-radius: 5px;
  padding: 10px 20px 10px 15px;
  justify-content: space-between;
  display: flex;
  box-shadow: var(--Card-shadow);
  cursor: pointer;

  p {
    font-size: 10px;
  }
}

.accordionContent {
  padding: 10px 20px 20px 20px !important;
}

.inputForm {
  display: flex;
  margin-top: 20px;

  button {
    margin-left: 10px;
  }
}

.form {
  width: calc(100% - 80px);
  display: flex;
}

.spacer {
  width: 20px;
}

.listData {
  background-color: var(--pal-background-primary);
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  display: flex;
  margin-bottom: 8px;
  justify-content: space-between;
  font-size: 14px;
}

.spacerAction {
  width: 10px;
}

.listAction {
  display: flex;

  svg {
    cursor: pointer !important;
  }
}

.listValues {
  display: flex;
  width: 100%;

  span {
    width: 50%;
  }
}
