.container {
  display: flex;
  margin-top: 1rem;

  .header {
    display: flex;
    justify-content: space-between;
  }

  .label {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 1.25rem;
  }

  .tickColor {
    color: var(--pal-text-primary);
  }
}
