.field {
  margin-bottom: 20px;
}

.contentSubmit {
  margin-top: 20px;

  button {
    width: 200px !important;
  }
}

.iconTooltip {
  margin-left: 5px !important;
}

.collapsible {
  width: 100%;
}

.helper {
  margin-bottom: 1rem;
}
